@charset "utf-8";
/* CSS Document */
body {
  margin: 0;
  font-family: sans-serif;
}

.hero {
  /* Sizing */
  width: 100vw;
  height: 100vh;

  /* Flexbox stuff */
  display: flex;
  justify-content: center;
  align-items: center;

  /* Text styles */
  text-align: center;
  color: white;

  /* Background styles */
  background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
    url("HeroImageActual.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.hero h1 {
  /* Text styles */
  font-size: 3.5em;

  /* Margins */
  margin-top: 0;
  margin-bottom: 0.5em;
}

.Logo {
  position: static;
}
.Logo img {
  width: 100px;
  height: auto;
  position: absolute;
  top: 50px;
  left: 50x;
}
.Computer {
  position: relative;
}
.Computer input {
  width: 100px;
  height: auto;
  position: absolute;
  top: 70px;
  left: -510px;
}
.YT {
  position: relative;
}
.YT input {
  width: 100px;
  height: auto;
  position: absolute;
  top: 70px;
  left: -280px;
}
.YT:hover {
  background-color: transparent;
  opacity: 0.6;
}
.Computer:hover {
  background-color: transparent;
  opacity: 0.6;
}

.pltb {
  position: absolute;
  visibility: hidden;
  padding: 0;
  height: 30px;
  width: 400px;
  left: 60px;
  top: 60vh;
  outline: none;
  border: 1px solid #cdcdcd;
  border-color: rgba(0, 0, 0, 0.15);
  background-color: white;
  font-size: 16px;
}

.plbt {
  position: absolute;
  visibility: hidden;
  padding: 0;
  height: 30px;
  width: 200px;
  left: 500px;
  top: 60vh;
  font-size: 16px;
  font: bold;
}

.temporary {
  position: absolute;
  padding: 0;
  height: 30px;
  width: 200px;
  left: 500px;
  top: 80vh;
  font-size: 16px;
  font: bold;
}

.sectionOne {
  width: 70%;
  float: left;
  display: block;
}

.sectionTwo {
  width: 30%;
  float: right;
  display: block;
}

.ulclass {
  scroll-behavior: auto;
  position: absolute;
  top: 10vh;
  left: 60vw;
  overflow: auto;
  max-height: 80vh;
  background-color: grey;
  max-width: 30vw;
}

.formclass {
  position: absolute;
  top: 10vh;
  max-height: 80vh;
  overflow: auto;
  z-index: 1000;
}

li {
  font-size: 50px;
}
